* {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Parkinsans", sans-serif;
    font-size: 14px;
}

body {
    background-color: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 240px;
    width: 100%;
    position: absolute;
    z-index: 2;
    text-align: center;
}

header h1 {
    width: 90%;
    font-size: 7rem;
    line-height: 10vh;
}

header h2 {
    font-size: 2.5rem;
    line-height: 4vh;
}

.background {
    height: 100vh;
    width: 100%;
    background-image: url('./ressources/img/pawel-czerwinski-W10XfpqLu4Y-unsplash.jpg');
    background-size: cover;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    filter: blur(10px);
    position: absolute;
    z-index: 0;
}

.message-container {
    font-size: 4rem;
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    text-align: center;
}

#message {
   padding: 32px 12.5%;
   display: none;
   box-shadow: 0 0 8px 1px rgb(130, 130, 150);
}

.message-container button {
    margin-top: 305px;
    margin-bottom: 115px;
    width: 240px;
    height: 90px;
    background-color: rgba(49, 49, 49, 0.2);
    border: 2px solid white;
    border-radius: 2rem;
    color: white;
    font-size: 2.5rem;
    box-shadow: 0px 5px 5px rgb(68, 68, 68);
}

@media only screen and (min-width: 1000px) {
    .message-container button:hover {
        background-color: rgba(50, 186, 186, 0.2);
        cursor: pointer;
        font-size: 2.7rem;
    }
}
.message-container button:active {
    background-color: rgba(50, 186, 186, 0.05);
    font-size: 2.5rem;
    box-shadow: 0px 0px;
    margin-top: 310px;
    margin-bottom: 110px;
}

@media only screen and (max-width: 1450px) {
    html {
        font-size: 11px;
    }
    #message {
        padding: 24px 12.5%;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 10px;
    }
    header h1 {
        font-size: 6rem;
    }
    header h2 {
        font-size: 3rem;
    }
    #message {
        padding: 24px 7.5%;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 8px;
    }
    #message {
        padding: 16px 5%;
    }
    header h1 {
        font-size: 7rem;
        line-height: 6vh;
    }
    header {
        height: 190px;
    }
    .message-container button {
        margin-top: 215px;
        margin-bottom: 50px;
        font-size: 3.5rem;
        width: 180px;
        height: 70px;
    }
    .message-container button:active {
        margin-top: 220px;
        margin-bottom: 45px;
        font-size: 3.2rem;
    }
    .message-container {
        font-size: 3.5rem;
    }
}